:root,
.theme-dark,
.theme-light {
  .container_b6cd66 {
    background: #1e1e1e!important;
    .message_b6cd66 {
      color: var(--header-secondary)!important;
    }
    .resetButton_b6cd66 {
      background: #f04747;
      padding-left: 10px;
      padding-right: 10px;
      .contents_dd4f85 {
        span {
          color: #fff!important;
        }
      }
    }
  }
  .embedTitle_b0068a {
    background: rgba(74, 239, 152);
    color: #000;
  }
  .categoryHeader_fe2299 {
    background: #082010;
    color: #000;
  }
  .colorHeaderPrimary_d1aa77 {
    background: var(--bg-brand);
    color: var(--background);
  }
  .inner_c69a7b {
    --profile-gradient-start: #000;
    --profile-gradient-end: #000;
  }
  .outer_c69a7b {
    --profile-gradient-primary-color: var(--rgb-text);
  }
  .overlay_c69a7b {
    background: #ffffff00;
  }
  .embedAuthor_b0068a {
    background-color: #ffffff22;
    .embedAuthorName_b0068a {
      color: var(---rgb-text);
    }
  }
}
